@model IEnumerable<GoSchoolProMVC.Models.DB.BeachVoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:#ffd633">BeachVoice</h2>
<br />
<h4 style="font-style:italic">Have a Question? Ask on Beach Voice!</h4>
<br />
<h4 style="color:#ffd633">
    @Html.ActionLink("Create New Post", "Create")
</h4>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
           Question Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            Posted By
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FName)
        </td>
        <td style="color:#ffd633">
            @*@Html.ActionLink("Edit", "Edit", new { id=item.BeachVoiceId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.BeachVoiceId }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.BeachVoiceId })*@
        </td>
    </tr>
}

</table>
